html, body {
	height: 100%;
	width: 100%;
	}

body {
	background-image: url("backgroundimg.jpg") ;
}	

.nav {
	background-color: grey;
	border-radius: 5px;
	padding: 20px 55px;
	width: 95%; 
	margin: 10px 0px;
	height: 66%;
	padding-right: 0px;
	box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.62);
}

h1 {
	position: inline-block;
}

a {
	text-align: right;
	text-decoration: none;
	color: black;
}

#holder img {
	width: 100%;
}

#contact-info {
	height: 300px;
	background-color: grey;
	border-radius: 5px;
	width: 33%;
	margin: 5px;
	text-align: center;
	padding-top: 20px;
	box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.62);
}

#contact-form {
	height: 300px;
	background-color: grey;
	border-radius: 5px;
	width: 64%;
	margin: 5px;
	text-align: center;
	padding-top: 20px;
	box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.62);
}

#holder {
	background-color: grey;
	border-radius: 5px;
	box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.62);
	width: 40%;
	margin: 10px;
}

#copy {
	height: 300px;
	background-color: grey;
	border-radius: 5px;
	text-align: center;
	box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.62);
	width: 50%;
	margin-left: 500px;
}

input {
	margin: 5px;
}